@page
@model FreeBilling.Web.Pages.indexModel
@{
    var productname = "Free Billing";
    //throw new InvalidOperationException("Bad things happen to good developers.");
    ViewBag.Title = "Home Page";
}

<h1>@productname</h1>
<h2>Welcome to our website! </h2>
